
  <div>
    <h1>Welcome, <%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <img class="profile-picture" alt="Profile Picture" src="<%= cl_image_path(@user.avatar.key, width: 38, height: 38, crop: :thumb, gravity: :face) %>" />
  </div>

  <h2>My Listings</h2>

  <button><p>Add a listing</p></button>
