<h1>Dashboard</h1>


<div>
  <div>
    <h2>Your profile</h2>
    <p>Form to be implemented for profile update</p>
  </div>
  <% if @submitted_bookings.count > 0 %>
    <div>
      <h2>Your submitted bookings</h2>
      <div class="cards-booking">
      <% @submitted_bookings.each do |booking| %>
        <%= render 'bookings/card-booking', booking: booking %>
      <% end %>
      </div>
    </div>
  <% end %>

  <% if @offers.count > 0 %>
    <div>
      <h2>Your offers</h2>
      <div class="cards-offer">
        <% @offers.each do |offer| %>
          <%= render 'offers/card-offer', offer: offer %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @provided_bookings.count > 0 %>
    <div>
      <h2>Bookings on your offers</h2>
      <div class="cards-booking">
      <% @provided_bookings.each do |booking| %>
        <%= render 'bookings/card-booking', booking: booking %>
      <% end %>
      </div>
    </div>
  <% end %>

</div>
