<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container text-center">
    <h3 class="display-4 text-center">Please login to book</h3>
    <p class="lead text-center m-0">You need to be logged in to book this offer.</p>
    <a href="<%= user_session_path %>" class="btn btn-primary btn-lg text-center m-2">Log In</a>
  </div>
</div>
