<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
    <h1 class="display-4">Please login to book</h1>
    <p class="lead">You need to be logged in to book this offer.</p>
    <a href="<%= user_session_path %>" class="btn btn-primary btn-lg">Log In</a>
  </div>
</div>
