<h1>Here is the camping material you might need</h1>

<div class="cards-offer">
  <% @offers.each do |offer| %>
    <%= render 'card-offer', offer: offer, display_availibility: false %>
  <% end %>
</div>
